# local cache
*.DS_Store

# data
*.csv
*.pgn
*.csv.zst
*.pgn.zst
/data/*
*.ipynb_checkpoints/*
.ipynb_checkpoints/
.ipynb_checkpoints/*

# log
/log/*

# archived
archived/*

# text files
*.pdf
# *.txt
sample game.txt
*.xlsx
